@use "functions" as f;

@font-face {
  font-family: BebasNeue;
  src: url(../assets/BebasNeue-Regular.woff2) format(woff2);
}

@font-face {
  font-family: "Basier-circle";
  src: url(../assets/basiercircle-regular-webfont.woff2) format(woff2);
}
$font-bebas: "BebasNeue";
$font: "Basier-circle";
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$p-color: hsl(249, 95%, 60%);
$s-color: hsl(249, 95%, 64%);
$t-color: hsl(249, 95%, 76%);
$q-color: hsl(215, 100%, 93%);
$qq-color: hsl(224, 60%, 95%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 20%);

h1,
h2,
h3 {
  font-weight: map-get($font-weights, "regular");
}
a {
  color: $white;
}
