@use "functions" as f;
@use "fonts" as font;

$p-color: hsl(249, 95%, 60%);
$s-color: hsl(249, 95%, 64%);
$t-color: hsl(249, 95%, 76%);
$q-color: hsl(215, 100%, 93%);
$qq-color: hsl(224, 60%, 95%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 20%);

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $white;
    color: $black;
  }
}
html {
  font-family: font.$font; //Basier Circle
}
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

ul,
li {
  list-style-type: none;
}
a,
a:visited,
a:active {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
img {
  display: block;
  max-width: 100%;
}
// img {
//   max-width: 100%;
//   vertical-align: middle;
//   height: auto;
//   background-repeat: no-repeat;
//   background-size: cover;
//   font-style: italic;
//   shape-margin: 0.75rem;
// }
